table.Results {
  border: 1px solid rgb(45, 45, 45);
  background-color: rgb(175, 175, 175);
  width: calc(100% - 50px);
  text-align: left;
  border-collapse: collapse;
  margin: 25px;
}

table.Results td, table.Results th {
  border: 1px solid rgb(175, 175, 175);
  padding: 3px 2px;
}

table.Results tbody td {
  font-size: 14px;
}

table.Results tr:nth-child(odd) {
  color: black;
}

table.Results tr:nth-child(even) {
  background: rgb(75, 75, 75);
  color: white;
}

table.Results thead {
  background: rgb(50, 50, 50);
  border-bottom: 2px solid rgb(225, 225, 225);
}

table.Results thead th {
  font-size: 15px;
  font-weight: bold;
  color: white;
}
